<div class='body'>
	<div class='container'>

		<% if flash[:notice] %>
 			<p><%= flash[:notice] %></p>
		<% end %>

		<div class='row'>
			<div class='col-xs-3'>
				<h2>User info</h2>
				<%= attachment_image_tag current_user, :profile_image, size:"80x80", format:'jpeg', fallback: "no_image.jpg" %>
				<table class='table table-hover table-inverse'>
					<tr>
						<th>Name</th>
						<th><%= current_user.name %></th>
					</tr>

					<tr>
						<th>Introduction</th>
						<th><%= current_user.introduction %></th>
					</tr>
				</table>

			<div class='row'>
				<%= link_to edit_user_path(current_user.id), method: :get do %>
					<span class="col-xs-12 btn btn-default glyphicon glyphicon-wrench "></span>
				<% end %>
			</div>

			<h2>New book</h2>

			<%= render 'books/newbook', book: @book %>

		</div>

		<div class="col-xs-8">
			<h2>Users</h2>
			<table class='table'>
				<thead>
					<tr>
						<th>Image</th>
						<th>Name</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<% @users.each do |user| %>
						<tr>
							<td><%= attachment_image_tag user, :profile_image, size:"40x40", format: 'jpeg',fallback: "no_image.jpg" %>
							</td>
							<td><%= user.name %></td>
							<td><%= link_to 'Show', user_path(user.id)%></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>

	</div>
</div>