<div class='body'>
<div class='container'>

<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "Name" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <div class="actions">
    <%= f.submit "Log in" %>
  </div>
  <% end %>

  <% end %>

  <a class="sign_up" href="/users/sign_up">Sign up</a><br />

  <a href="/users/password/new">Forgot your password?</a><br />

</div>
</div>
</div>
</div>

  </body>
</html>
