<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <nav class='nav navbar-nav navbar-left' >
        <span>Bookers</span>
      </nav>

      <nav>
      <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <%= link_to user_path(current_user.id), method: :get do%>
            <span class="glyphicon glyphicon-home" aria-hidden="true">Home</span>
            <% end %>
            <%= link_to @users, method: :get do %>
            <span class="glyphicon glyphicon-user" aria-hidden="true">User</span>
            <% end %>
            <%= link_to @books_path, method: :get do %>
            <span class="glyphicon glyphicon-book" aria-hidden="true">Books</span>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete do %>
            <span class="glyphicon glyphicon-log-out" aria-hidden="true">logout</span>
            <% end %>
          </ul>
      
      <% else %>
        <ul class="nav navbar-nav navbar-right">
            <%= link_to root_path, method: :get do %>
            <span class="glyphicon glyphicon-home" aria-hidden="true">Home</span>
            <% end %>
            <%= link_to @users_path, method: :get do %>
            <span class="glyphicon glyphicon-link" aria-hidden="true">About</span>
            <% end %>
            <%= link_to new_user_registration_path, method: :get do %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true">sign up</span>
            <% end %>
            <%= link_to new_user_session_path, method: :get do %>
            <span class="glyphicon glyphicon-log-in" aria-hidden="true">log in</span>
            <% end %>
        </ul>
        <% end %>
      </nav>
    </div>
  </header>

  <%= yield %>

  <footer>
      <div class='container'>
        <div class='row'>
          <div class='col-xs-3 col-xs-offset-9'>
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>

</body>
</html>